@charset "UTF-8";
/*
	vertical-rhythmic
	
	Version : 2.0.0
	Author  : Aurélien Delogu (dev@dreamysource.fr)
	License : MIT
*/
/*
	number $vr-ratio
	number $vr-root-px
*/
/*
	Establish baseline

	Parameters
		number $font-size
		number $line-height
*/
/*
	Return a rhythm

	Parameters
		number $font-size
		number $factor

	Return
		number
*/
/*
	Convert REM value to PX

	Parameters
		number $value

	Return
		number
*/
@media (max-width: 1200px) {
  /* line 8, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  html {
    font-size: 90%; } }

@media (max-width: 992px) {
  /* line 8, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  html {
    font-size: 80%; } }

/* line 14, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
body {
  font-family: 'Pt Sans', sans-serif; }

/* line 17, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
p {
  font-size: 1.3rem;
  line-height: 1.7; }

/* line 22, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
#header {
  width: 100%;
  margin-bottom: -5px; }
  /* line 25, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  #header img {
    width: 100%; }
  /* line 27, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  #header h1 {
    text-align: center;
    font-size: 3rem; }

/* line 31, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.block {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: -5px; }
  /* line 36, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .block .wrapper {
    overflow: hidden;
    padding: 2rem 8rem; }
    @media (max-width: 992px) {
      /* line 36, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
      .block .wrapper {
        padding: 2rem; } }

/* line 46, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.btn {
  line-height: 1;
  background: white;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px;
  margin-top: 2rem;
  text-decoration: none;
  color: black; }
  /* line 56, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .btn:hover {
    background: #CCCCCC; }
  /* line 59, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .btn:disabled:hover {
    background: white; }

/* line 62, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

/* line 64, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }

/* line 66, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%; }

/* line 68, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }

/* line 70, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-2 {
  margin-left: 16.94915%; }

/* line 72, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-3 {
  margin-left: 25.42373%; }

/* line 74, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-4 {
  margin-left: 33.89831%; }

/* line 76, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-5 {
  margin-left: 42.37288%; }

/* line 78, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-6 {
  margin-left: 50.84746%; }

/* line 80, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-7 {
  margin-left: 59.32203%; }

/* line 82, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.offset-8 {
  margin-left: 67.79661%; }

/* line 86, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.logo {
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: center;
  opacity: 0.3; }
  /* line 93, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .logo img {
    width: 3rem; }
  /* line 95, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .logo .phone {
    opacity: 0; }
  /* line 97, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .logo:hover {
    opacity: 1;
    top: 15px;
    right: 25px; }
    /* line 101, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .logo:hover .phone {
      opacity: 1; }

@media (max-width: 992px) {
  /* line 108, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .four-block-smoke .wrapper div[class^='col'] {
    width: 100%; } }

@media (max-width: 768px) {
  /* line 111, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .four-block-smoke .wrapper img {
    width: 100%; } }

/* line 113, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.four-block-smoke .wrapper .col-4 {
  margin-bottom: -2rem; }

/* line 116, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.two-block-open {
  background: url("/static/img/two-blocks.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 35rem; }
  @media (max-width: 992px) {
    /* line 116, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .two-block-open {
      background: #ffffff; }
      /* line 125, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
      .two-block-open div[class^='col'] {
        width: 100%;
        margin-left: 0; } }
  /* line 128, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .two-block-open img {
    width: 100%; }
    @media (min-width: 992px) {
      /* line 128, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
      .two-block-open img {
        display: none; } }

/* line 135, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.filter-compare .wrapper {
  padding: 10rem 8rem; }
  @media (max-width: 992px) {
    /* line 135, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .filter-compare .wrapper {
      padding: 2rem; } }
  @media (max-width: 768px) {
    /* line 140, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .filter-compare .wrapper div[class^='col'] {
      width: 100%;
      margin-left: 0; } }
  /* line 143, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .filter-compare .wrapper > div {
    text-align: center; }
    @media (max-width: 768px) {
      /* line 146, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
      .filter-compare .wrapper > div p {
        text-align: justify; } }
  /* line 148, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .filter-compare .wrapper .col-6 {
    margin-right: 0; }

/* line 150, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.filter-compare img {
  width: 70%; }

/* line 153, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.vpyk-layers {
  margin-top: 5rem; }
  /* line 155, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .vpyk-layers img {
    width: 100%; }

/* line 159, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.our-clients img {
  width: 100%; }

/* line 162, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
.contact {
  padding-bottom: 10rem; }
  /* line 164, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
  .contact .contact-details {
    font-size: 1.5rem; }
    /* line 166, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .contact .contact-details .phone {
      width: 29.6875%;
      float: left;
      margin-right: 1.5625%; }
      @media (max-width: 768px) {
        /* line 166, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
        .contact .contact-details .phone {
          width: 100%;
          margin-bottom: 1rem; } }
    /* line 171, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .contact .contact-details .email {
      width: 29.6875%;
      float: left;
      margin-right: 1.5625%; }
      @media (max-width: 768px) {
        /* line 171, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
        .contact .contact-details .email {
          width: 100%;
          margin-bottom: 1rem; } }
    /* line 176, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
    .contact .contact-details .www {
      width: 29.6875%;
      float: left;
      margin-right: 1.5625%; }
      @media (max-width: 768px) {
        /* line 176, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/partials/_style.sass */
        .contact .contact-details .www {
          width: 100%; } }

/* line 1, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 4, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 7, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 11, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
[hidden] {
  display: none; }

/* line 14, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 19, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
body {
  margin: 0; }

/* line 22, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
a:focus {
  outline: none; }

/* line 25, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
a:active, a:hover {
  outline: none; }

/* line 29, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
:focus {
  outline: none; }

/* line 32, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 36, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 39, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
b, strong {
  font-weight: bold; }

/* line 42, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
dfn {
  font-style: italic; }

/* line 45, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 50, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 54, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 58, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
pre {
  white-space: pre-wrap; }

/* line 61, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 64, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
small {
  font-size: 80%; }

/* line 67, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 73, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
sup {
  top: -0.5em; }

/* line 76, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 79, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
img {
  border: 0; }

/* line 82, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 85, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
figure {
  margin: 0; }

/* line 88, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 93, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 97, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 102, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button, input {
  line-height: normal; }

/* line 105, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button, select {
  text-transform: none; }

/* line 108, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 112, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 115, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 119, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 125, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 128, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 132, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 136, /Users/Trikster/static_sites/Wastenoa/_Wastenoa/src/sass/vendor/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
